


body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #7f878c;
}

body, p, td, th, textarea, div, input {font-family: "Helvetica Neue", "Neue Helvetica eText W02", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; color: #E8E8E8;font-style:normal;}

.lightfont {font-weight:200;}


h1,h2,h3,h4,h5,h6 {margin:0; font-weight:700;color: #222222;}


h1 { font-size: 26px;font-style:normal; font-weight: 200; line-height: 1; margin-bottom: 12px; color:#444444;font-family: "Helvetica Neue", "Neue Helvetica eText W02", Helvetica, Arial, sans-serif; }
h2 { font-size: 20px; line-height: 1; margin-bottom: 12px;  color:#444444}
h3 { font-size: 18px; line-height: 1; margin-bottom: 8px;  color:#444444}
h4 { font-size: 17px; line-height: 1; margin-bottom: 8px;  color:#333333}
h5 { font-size: 16px; line-height: 1; margin-bottom: 8px;  color:#333333}
h6 { font-size: 14px; line-height: 1; margin-bottom: 8px; }

p {line-height: 1.5em; margin:0; margin-bottom:16px;}
p:last-child { margin-bottom:0.2em;}

strong, b {font-weight: 700;}
em, i {font-style: italic}

sub, sup {position: relative; font-size: 75%; line-height: 0; vertical-align: baseline;}
sup {top: -0.5em;}
sub { bottom: -0.25em;}

/* box-sizing fix */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

a,
a:active,
a:visited,
a:hover {
	cursor: pointer;
	color: #57beee;
}
a:hover {
	text-decoration: underline;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #9fa6ad;
	background: linear-gradient(to bottom, #848e91 5%, #545759 100%);
	background-color: #6f7679;
	border-radius:2px;
	border:1px solid #545454;
	display:inline-block;
	cursor:pointer;
	color:#E8E8E8;
	font-size:13px;
	padding: 2px 6px;
	margin: 0 4px 4px 0;
	text-decoration:none;
	text-shadow:-1px -1px 0px #494f57;
}
a.btn:hover {
	text-decoration: none;
	color: #E8E8E8;
}

.btn.disabled {
	background: #999 !important;
	color: #665;
	text-shadow: none !important;
	box-shadow: none !important;	
}

.panel {
	background: #71787d;
	padding: 4px;
	margin-bottom: 8px;
	box-shadow: inset 2px 2px 0 0 #6c7479;
	border-right: 1px solid #858e94;
	border-bottom: 1px solid #858e94;
	border-radius: 6px 2px 2px 2px;
}

.panel .title {
	padding: 3px 24px 3px 8px;
	margin: -5px 4px 4px -4px;
	display: inline-block;
	background: #3e4d5c;
	border-radius: 6px 0px 2px 2px;
}

.panel .top-row {
	display: inline-block;
	padding: 3px 0 3px 0;
	margin: -5px 4px 0px 4px;	
}

/* columns */

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.grow {
	flex-grow: 1
}

.flex-row {
	display: flex;
	justify-content: space-between;
}
.flex-row > * {
	flex: 1 1;
	margin-right: 6px;
}
.flex-row > *:last-child {
	margin-right: 0;
}


/* forms */
input[type="text"], textarea {
	background-color: rgba(250,250,250,0.15);
	border: 1px solid rgba(10,10,10,0.15);
	color: #E5E5E5;
	padding: 3px 6px;
	width: 100%;
}

input[type="text"]::placeholder,
textarea::placeholder {
	color: #555;
}

/* item table */

	.item-table {
		width: 100%;
		border-collapse: collapse;
		
	}

	.item-table .row {
		background: #63686d;
		border-top: 1px solid rgb(10,10,10,0.25);
		border-bottom: 1px solid rgb(250,250,250,0.20);
	}	
	.item-table .list-item:nth-child(even) > div {
		background: #71777d;
	}

	.item-table .row > div {
		text-align: left;
		padding: 3px 6px;
		border-left: 1px solid rgb(10,10,10,0.25);
		border-right: 1px solid rgb(250,250,250,0.15);
	}
	.item-table .row > div:first-child {
		border-left: none;
	}
	.item-table .row > div:last-child {
		border-right: none;
	}	

	.item-table .row-header {
		background: #5b6064;
		border-top: 1px solid rgb(250,250,250,0.20);
		border-bottom: 1px solid rgb(10,10,10,0.25);
	}
	.item-table .row > div {
		text-align: center;
		border-left: 1px solid rgb(250,250,250,0.15);
		border-right: 1px solid rgb(10,10,10,0.25);
	}

	.item-table tr {
		border: 1px solid #333;
	}
	.item-table td {
		background: #FFF;
		border: 1px solid #999;
		padding: 1px 6px;
	}
	.item-table .col1 {
		flex: 0 0 3%;
		min-width: 40px;
	}
	.item-table .col-group {
		flex: 0 0 5%;
		min-width: 100px;
	}	
	.item-table .col-name {
		flex: 2 0 10%;
		min-width: 175px;
	}	
	.item-table .col-specs {
		flex: 2 0 10%;
		min-width: 175px;
	}	
	.item-table .col-flags {
		flex: 1 1 5%;
	}		
	.item-table .col-link {
		flex: 1 1 5%;
		min-width: 100px;
	}	
	.item-table .col-supplier {
		flex: 1 0 10%;
		min-width: 155px;
	}		
	.item-table .col-wt {
		flex: 0 0 3%;
		min-width: 50px;
	}
	.item-table .col-qty {
		flex: 0 0 3%;
		min-width: 50px;
	}
	.item-table .col-price {
		flex: 0 0 5%;
		min-width: 80px;
	}
	.item-table .col-del {
		flex: 0 0 3%;
		min-width: 60px;
	}


	.item-table .row > .num {
		text-align: right
	}
	.item-table  .row > .del {
		text-align: center
	}
	.item-table .specs {
		font-size: 12px;
	}
	.item-table .del b {
		display: inline-block;
		text-align: center;
		line-height: 32px;
		width: 32px;
		height: 32px;
		cursor: pointer;
	}
	.item-table .del b:hover {
		background-color: #da3737;
	}
	.item-table .row-label {
		display: none;
		font-size: 12px;
		color: #D4D4D4;
	}

	@media only screen and (max-width:1150px) {
		/* breakpoint for table */
		.item-table .row-header {
			display: none;
		}
		.item-table .row-label {
			display: block;
		}
		.item-table .row > div {
			border: none;
		}
	}